.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin-top: 20px;
}
ul {
  background-color: white;
  color: black;
}
.list {
  display: flex;
  gap: 20px;
}
h1{
  background-color: lightblue;
  color: darkblue;
  border: 1px solid darkblue;
  border-radius: 40px;
  width: 250px;
  height: 70px;
}
p{
  color: black;
  font-size: 20px;
}
label{
  font-size: 20px;
  color: black;
}
button {
  color: darkblue;
}
.todo-container{
 display: flex;
  flex-direction: column;
  background-color: beige;
  width: 300px;
  padding: 20px;
  align-items: center;
}