.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
    text-decoration: solid;
    text-transform: lowercase;
    color: black;
}
.button{
    border-radius: 30px;
    background-color: white;
    color: red;
}
.span {
    margin-left: 8px;
}
