.todo{
    border: 4px solid blue;
    padding: 30px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1{
    color: blue;
    border: 3px solid darkblue;
    background-color: aliceblue;
    font-style: italic;
}
.items{
    font-size: 16px;
    color: black;
    padding-top: 20px;
}
.label{
    font-size: 15px;
    color: darkcyan;
}
.deleteButton{
    width: 70px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 15%;
    font-size: 12px;
    background-color: aliceblue;
}